.sidebar{
  position:fixed;
  display: flex;
  flex-direction: column;
  width: 75px;
  left: 0px;
  top:60px;
  bottom: 400px;
  align-items: start;
  padding-top: 3px;
  justify-content: space-between;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(128, 128, 128, 0.164);
  
}
.sidebar-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 60px;
  border:none;
  cursor: pointer;
}
.sidebar-section:hover{
  background-color: rgba(128, 128, 128, 0.164);
}
.sidebar-section-images{
  width:25px;
  margin-top: 5px;
}
.sidebar-section-text{
  font-size: 12px;
  margin-top: 5px;
  font-family: Roboto;
  font-weight: 500;
  font-display: swap;
  color: black;
}